<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <!-- Brand -->
        <a class="navbar-brand d-flex align-items-center">
            <i class="fa-solid fa-table-columns me-2 font-lg cursor-pointer"></i>
            <span class="d-none d-sm-inline">Dashboard</span>
        </a>

        <div id="navbarContent">
            <div class="ms-auto d-flex flex-column flex-lg-row align-items-center">
                <!-- Theme toggle -->
                <!-- <button class="theme-toggle btn btn-link text-decoration-none my-2 my-lg-0" (click)="toggleTheme()"> -->
                    <!-- <i class="fa-moon font-xl me-2" [ngClass]="moon ? 'fa-regular' : 'fa-solid'"></i> -->
                    <!-- <i class="fas font-xl" [ngClass]="isDarkTheme ? 'fa-toggle-on' : 'fa-toggle-off'"></i> -->
                <!-- </button> -->
            </div>
        </div>
    </div>
</nav>