<div class="filters-container">
    <div class="row justify-content-between align-items-center">
        <div class="col-md-4">
            <div class="title">
                <h1 class="font-xl font-bold text-center">Rooms Table Details</h1>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <div class="search-box">
                <i class="fas fa-search search-icon"></i>
                <input type="text" class="search-input" placeholder="Search for a room using room number"
                    [(ngModel)]="searchInput">
            </div>
            <div class="btn-add-room">
                <button class="btn btn-primary" routerLink="../manage-room" routerLinkActive="router-link-active">Add
                    Room</button>
            </div>
        </div>
    </div>

    <div class="table-responsive mt-4 d-none d-md-block">
        <table class="table table-hover">
            <thead>
                <tr class="text-center">
                    <th class="font-md font-simibold text-white">Room Image</th>
                    <th class="font-md font-simibold text-white">Room Number</th>
                    <th class="font-md font-simibold text-white">Price</th>
                    <th class="font-md font-simibold text-white">Discount</th>
                    <th class="font-md font-simibold text-white">Capacity</th>
                    <th class="font-md font-simibold text-white">Actions</th>
                </tr>
            </thead>
            <tbody *ngIf="isLoading">
                <tr>
                    <td colspan="5" class="text-center py-4">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <p class="mt-2 font-simibold font-lg">Loading rooms . . .</p>
                    </td>
                </tr>
            </tbody>
            <ng-container *ngIf="(rooms | searchRooms:searchInput).length > 0">
                <tbody *ngIf="!isLoading">
                    <tr class="room-row text-center" *ngFor="let room of rooms | searchRooms:searchInput">
                        <td>
                            <img [src]="room.images[0]" alt="Room Image" class="room-avatar rounded-circle">
                        </td>
                        <td>{{room.roomNumber}}</td>
                        <td>{{calculateDiscountedPrice(room.price,room.discount).toFixed(0)}}</td>
                        <td>{{room.discount}}</td>
                        <td>{{room.capacity}}</td>
                        <td>
                            <button class="me-2 btn btn-outline-primary" (click)="getSpecificRoomDetails(room._id)">
                                <i class="fas fa-eye"></i>
                            </button>
                            <button class="me-2 btn btn-outline-success" [routerLink]="['../manage-room',room._id]">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                            <button class="me-2 btn btn-outline-danger" (click)="deleteRoom(room._id)">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </ng-container>
        </table>

        <div class="pagination-container d-flex justify-content-center align-items-center mt-4">
            <div class="d-flex align-items-center">
                <span class="me-2">Items per page:</span>
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="pageSizeDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{ itemsPerPage }}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="pageSizeDropdown">
                        <li><a class="dropdown-item" (click)="changePageSize(5)">5</a></li>
                        <li><a class="dropdown-item" (click)="changePageSize(10)">10</a></li>
                        <li><a class="dropdown-item" (click)="changePageSize(20)">20</a></li>
                        <li><a class="dropdown-item" (click)="changePageSize(50)">50</a></li>
                    </ul>
                </div>
                <span class="mx-4">{{ startItem }} – {{ endItem }} of {{ totalNumOfRooms }}</span>
                <div class="pagination-arrows">
                    <button class="btn btn-outline-secondary me-2" [disabled]="currentPage === 1"
                        (click)="previousPage()">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                    <button class="btn btn-outline-secondary" [disabled]="currentPage === totalPages"
                        (click)="nextPage()">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="d-block d-md-none">
        <div *ngIf="isLoading" class="text-center py-4">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <p class="mt-2">Loading rooms . . .</p>
        </div>

        <div *ngIf="!isLoading">
            <div class="room-card" *ngFor="let room of rooms | searchRooms:searchInput">
                <div class="room-card-header d-flex align-items-center">
                    <img [src]="room.images[0]" alt="Room Image" class="room-avatar-sm rounded-circle me-3">
                    <span class="room-id text-white font-bold"> {{ room.roomNumber }}</span>
                </div>
                <div class="room-card-body">
                    <div class="room-info">
                        <p><i class="fas fa-dollar-sign"></i>Price: {{ room.price }}</p>
                        <p><i class="fas fa-percent"></i>Discount: {{ room.discount}}%</p>
                        <p><i class="fas fa-users"></i>Capacity: {{ room.capacity }}</p>
                        <p><i class="fas fa-user"></i>User: {{ room.createdBy.userName }}</p>
                    </div>
                    <div class="room-actions d-flex justify-content-between align-items-center"
                        (click)="deleteRoom(room._id)">
                        <button class="btn btn-sm btn-outline-primary me-2" (click)="getSpecificRoomDetails(room._id)">
                            <i class="fas fa-eye"></i> View
                        </button>
                        <button class="btn btn-sm btn-outline-success me-2" [routerLink]="['../manage-room',room._id]">
                            <i class="fa-solid fa-pen-to-square"></i> Edit
                        </button>
                        <button class="btn btn-sm btn-outline-danger me-2">
                            <i class="fas fa-eye"></i> Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagination-container d-flex justify-content-center align-items-center mt-4">
            <div class="d-flex flex-column flex-sm-row align-items-center">
                <div class="d-flex align-items-center mb-2 mb-sm-0">
                    <span class="me-2 small">Items per page:</span>
                    <div class="dropdown">
                        <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button"
                            id="pageSizeDropdownMobile" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ itemsPerPage }}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="pageSizeDropdownMobile">
                            <li><a class="dropdown-item" href="javascript:void(0)" (click)="changePageSize(5)">5</a>
                            </li>
                            <li><a class="dropdown-item" href="javascript:void(0)" (click)="changePageSize(10)">10</a>
                            </li>
                            <li><a class="dropdown-item" href="javascript:void(0)" (click)="changePageSize(20)">20</a>
                            </li>
                            <li><a class="dropdown-item" href="javascript:void(0)" (click)="changePageSize(50)">50</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <span class="mx-sm-4 small">{{ startItem }} – {{ endItem }} of {{ totalNumOfRooms }}</span>
                <div class="pagination-arrows mt-2 mt-sm-0">
                    <button class="btn btn-sm btn-outline-secondary me-2" [disabled]="currentPage === 1"
                        (click)="previousPage()">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                    <button class="btn btn-sm btn-outline-secondary" [disabled]="currentPage === totalPages"
                        (click)="nextPage()">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="custom-modal" *ngIf="showModal">
        <div class="modal-backdrop" (click)="closeModal()"></div>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-simibold font-lg">Room Details</h5>
                    <button type="button" class="btn-close" (click)="closeModal()"></button>
                </div>
                <div class="modal-body" *ngIf="selectedRoom">
                    <div class="text-center mb-4">
                        <img [src]="selectedRoom.images[0]" alt="Room Image" class="room-modal-avatar rounded-circle">
                        <h4 class="mt-3 font-simibold font-md">{{selectedRoom.roomNumber}}</h4>
                    </div>
                    <div class="room-details mt-5">
                        <div class="detail-item">
                            <span class="detail-label"><i class="fas fa-id-card me-2"></i>Room ID:</span>
                            <span class="detail-value">{{selectedRoom._id}}</span>
                        </div>
                        <div class="detail-item">
                            <span class="detail-label"><i class="fas fa-dollar-sign me-2"></i>Price:</span>
                            <span class="detail-value">{{selectedRoom.price}}</span>
                        </div>
                        <div class="detail-item">
                            <span class="detail-label"><i class="fas fa-users me-2"></i>Capacity:</span>
                            <span class="detail-value">{{selectedRoom.capacity}}</span>
                        </div>
                        <div class="detail-item">
                            <span class="detail-label"><i class="fas fa-percent me-2"></i>Discount:</span>
                            <span class="detail-value">{{selectedRoom.discount}}%</span>
                        </div>
                        <div class="detail-item">
                            <span class="detail-label"><i class="fa-solid fa-user-tie me-2"></i>Created By:</span>
                            <span class="detail-value">{{selectedRoom.createdBy.userName}}</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>