<footer>
    <div class="container pb-5">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-12">
                <div>
                    <h4 class="font-lg"><span class="primary-color">Stay</span>cation.</h4>
                    <p class="foot-color">We kaboom your beauty holiday instantly and memorable</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div>
                    <ul>
                        <li class="font-simibold mb-3">For beginners</li>
                        <li class="foot-color mb-3">New account</li>
                        <li class="foot-color mb-3">Book a new room</li>
                        <li class="foot-color mb-3">Use payments</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div>
                    <ul>
                        <li class="font-simibold mb-3">Explore us</li>
                        <li class="foot-color mb-3">Our career</li>
                        <li class="foot-color mb-3">Privacy</li>
                        <li class="foot-color mb-3">Terms&Conditions</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div>
                    <ul>
                        <li class="font-simibold mb-3">Contact us</li>
                        <li class="foot-color mb-3">Support&#64;staycation.id</li>
                        <li class="foot-color mb-3">021-2208-1996</li>
                        <li class="foot-color mb-3">Staycation, Kemang, Jakarta</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>